.primary_btn {
    padding: 10px 15px;
    border-radius: 50px;
    color: white !important;
    background-color: #FADA7A;
    transition: all 500ms;
}
.primary_btn:hover{
    background-color: #F5F0CD ;
    color: wheat !important;
}

.primary_btn.dark_mode{
    background-color: #6A1E55;

}
.primary_btn.dark_mode:hover{
    background-color: #A64D79;
    color: wheat;
}